<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include ../partials/global-header.ejs %>
  <link rel="stylesheet" href="../css/all_reservations.css">
  <title>Document</title>
</head>
  <body>
    <%- include ../partials/navbar.ejs %>
    <div class="container">
      <% if (req.machines.length == 0) {%>
        <div>
          <h1>No machines to display</h1>
          <p>Tell your admin to create some machines!</p>
        </div>
      <% } else { %>
        <% for (var i = 0; i < req.machines.length; i++) { %>
        <div class="row" style="padding: 10px; border-bottom: 1px solid grey">
          <div class="col text-center"><img class="d-inline align-middle" src="no_machine.png" style="width: 300px" />
          </div>
          <div class="col">
            <h1><%= req.machines[i].name %></h1>
            <h5><%= req.machines[i].type %></h5>
            <p><%= req.machines[i].description %></p>
          </div>
        </div>
        <% } %>
      <% } %>
    </div>
  </body>
</html>

