<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include ../partials/global-header.ejs %>
  <link rel="stylesheet" href="../css/all_reservations.css">
  <title>Document</title>
</head>

<body>
  <%- include ../partials/navbar.ejs %>
  <div class="page-content">
    <h2>All Reservations</h2>
    <p>Filters</p>
    <label>Machine: </label><select name="machine">
      <option value="any">Any</option>
      <% for (var i = 0; i < req.machines.length; i++ ) { %>
      <option value="<%= req.machines[i].id %>"><%= req.machines[i].name %></option>
      <% } %>
    </select>
    <input type="text" name="username" placeholder="Username">
    <label>Status: </label>
    <input type="checkbox" id="option1" name="pending" value="pending">
    <label for="option1">Pending</label><br>
    <input type="checkbox" id="option2" name="approved" value="approved">
    <label for="option2">Approved</label><br>
    <button id="search">Search</button>
    <table class="machines-table ajax-table" data-url="/schedule">
      <thead>
        <tr>
          <td data-tag="username">Username</td>
          <td data-tag="machine">Machine</td>
          <td data-tag="date">Date</td>
          <td data-tag="start">Start</td>
          <td data-tag="end">End</td>
          <td data-tag="status">Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="action-menu"">
      <form class="ajax-form" action="/reservations/new" method="post">
        <h1>View Reservation</h1>
        <p>View the reservation and make modifications thereto.</p>
        <input placeholder="Username" type="text" id="username">
        <select id="machine" name="id">
          <option value="any">Any</option>
          <% for (var i = 0; i < req.machines.length; i++ ) { %>
          <option value="<%= req.machines[i].id %>" data-name="<%= req.machines[i].name %>"><%= req.machines[i].name %>
          </option>
          <% } %>
        </select>
        <input type="date" id="date" name="schedule[global][date]">
        <input type="time" id="start" name="schedule[time][start]">
        <input type="time" id="end" name="schedule[time][end]">
        <textarea id="justification" name="justification"></textarea>
        <select name="status" id="status" name="status">
          <option value="pending">Pending</option>
          <option value="approved">Approved</option>
        </select>
        <div>
          <button class="btn btn-sm btn-success">Save Changes</button>
        </div>
      </form>
      
    </div>
  </div>
  <script>
    function humanReadableTime(date) {
      return date.getHours() + ":" + leadingZeroes(date.getMinutes())
    }

      tableConfig = {
        action: (e) => {
          dataKeys = Object.keys(e.data);
          console.log(e.data["machine"])
          var menElmnt;
          const formStruct = {
            text: ["username"],
            textarea: ["justification"],
            time: ["start","end"],
            select: ["status"],
            date: ["date"],
            machine: ["machine"]
          }
          dataKeys.forEach(elmnt=> {
            console.log()
            menElmnt = $(".action-menu #" + elmnt)
            if (formStruct.text.includes(elmnt)) {
              menElmnt.val(e.data[elmnt])
            } else if (formStruct.textarea.includes(elmnt)) {
              menElmnt.html(e.data[elmnt])
            } else if (formStruct.time.includes(elmnt)) {
              menElmnt.val(e.data[elmnt])
            } else if (formStruct.select.includes(elmnt)) {
              $("#status option[value='" + e.data[elmnt] + "']").attr('selected', 'selected');
            } else if (formStruct.date.includes(elmnt)) {
              menElmnt.val(deformatDate(e.data[elmnt]))
            } else if (formStruct.machine.includes(elmnt)) {
              console.log(e.data[elmnt])
              $("#machine option[data-name='" + e.data[elmnt] + "']").attr('selected', 'selected');
            }
            // console.log(elmnt)
            
            $(".action-menu").css("display","block")
          })
        },
        validator: (e) => {
          console.log(e)
          e.start = humanReadableTime(new Date(e.start * 1000))
          e.end = humanReadableTime(new Date(e.end * 1000))
          e.machine = $("option[value='" + e.machine + "']").html()
        },
        actionName: "Manage",
        actionClasses: ["btn","btn-sm","btn-warning"]
      }

      setupAjaxTable(tableConfig)
      $("#search").on("click",() => {return setupAjaxTable(tableConfig)})

      $("#accept-res").on("click", () => {

      })

  </script>
  <style>
    h4 {

      font-weight: 400;

    }

    .schedule-block {

      background: black;
      width: 50%;
      /* height: 100px; */
      padding: 10px;

    }

    .schedule-block h2 {
      color: white;
    }

    .schedule-block p {
      color: white;
    }

    .machines-table {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }

    .machines-table td {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }
  </style>
</body>

</html>