<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include ../partials/global-header.ejs %>
</head>
<body>
  
  <%- include ../partials/navbar.ejs %>
  <div class="page-content">
    <h1>Calendar</h1>
    <p class="calendar-text"> Display reservations for the </p>
    <select class="calendar-dropdown" id="machine-schedule" style="display:none">
      <% for (var i = 0; i < req.machines.length; i++ ) { %>
      <option value="<%= req.machines[i].index %>"><%= req.machines[i].name %></option>
      <% } %>
    </select>
    <p class="calendar-text"> on </p>
    <select class="calendar-dropdown" name="" id="machine-schedule-day"></select>
    <button class="btn btn-outline-success reserve-collapsable">Make a new Reservation</button>
    <%- include ../partials/reservation.ejs %>
    <div class="calendar-panel" id="schedule"></div>
    <div class="calendar-panel" id="schedule-lines"></div>
  </div>

  <style>
    .reserve-collapsable {
      display: block !important;
      margin-top: 10px;
    }
  </style>

  <script src="/components/mustache.js/mustache.js"></script>
  <script src="/js/reservations.js"></script>

  <script>

    // submitting the form

    $('form[action="/reserve"]').submit(function(ev) {
      ev.preventDefault();
      $.ajax({
        url: $(this).attr("action"),
        method: $(this).attr("method"),
        data: $(this).serialize(),
        success: data => {
          console.log(data)
          $(".recieve-status").css("display","block")
          $(".recieve-status").removeClass("success")
          $(".recieve-status").removeClass("err")
          $(".recieve-status").addClass(data.type)
          $(".recieve-status h2").html(data.header)
          $(".recieve-status p").html(data.msg)
          getSchedule($("#machine-schedule").val(),$("#machine-schedule-day").val());
        }
      })
    });
    

    // collapsable menu

    var buttonState = 1;

    $(".reserve-collapsable").trigger("click")

    $(".reserve-collapsable").on("click", (event) => {

      if (buttonState == 0) {
        $(".reservation-form").css("display","none");
        $(".reserve-collapsable").html("Make a new Reservation")
        $(".calendar-panel").css("top","300px")
        buttonState++
      } else {
        $(".reservation-form").css("display","block");
        $(".reserve-collapsable").html("Cancel")
        $(".calendar-panel").css("top","550px")
        buttonState--
      }

      
      // console.log(this)

    });

    // Important variables
    // 1 minute = 0.5 pt

    var scale = 0.5
    var markerHeight = 24;

    // Format pages

    $("#schedule").css("height",(24*60*scale) + "px")
    $("#schedule-lines").css("height",(24*60*scale) + "px")

    for (var i = 0; i < 24; i++) {
      $("#schedule-lines").append("<hr class='time-divider' style='" + "top: " + (i*60*scale) + "px" + "'>")
      $("#schedule-lines").append("<p class='hour-marker' style='" + "top: " + ((i*60*scale) - (markerHeight * 0.5)) + "px" + "' height='" + markerHeight + "px" + "'>" + i + "</p>")
    }

    var template;

    $.ajax({

      url: "/templates/schedule-block.html",
      method: "get",
      success: function(data) {

        template = data;
        $("#machine-schedule").css("display","inline");
        getDays($("#machine-schedule").val());

      }

    });

    var startMins;
    var endMins;

    function getSchedule(machineIndex, day) {

      console.log(machineIndex)
      console.log(day.toString())

      $.ajax({
        url: "/schedule/" + "machine-" + machineIndex + "/" + day,
        method: "get",
        success: function(data) {

          $("#schedule").empty();

          var startDate;
          var endDate;
          var displayText;

          for (var i = 0; i < data.length; i++) {

            startMins = (new Date(data[i].time[0] * 1000).getHours()*60) + new Date(data[i].time[0] * 1000).getMinutes();
            endMins = (new Date(data[i].time[1] * 1000).getHours()*60) + new Date(data[i].time[1] * 1000 ).getMinutes();
            duration = endMins-startMins;

            if (duration >= 60) {
              displayText = "block"
            } else {
              displayText = "none"
            }

            startDate = new Date(data[i].time[0] * 1000)
            endDate = new Date(data[i].time[1] * 1000)

            console.log(duration)

            // scale

            $("#schedule").append(Mustache.to_html(template, { 
              name: data[i].name, 
              startHours: startDate.getHours(),
              startMinutes: leadingZeroes(startDate.getMinutes()),
              endHours: endDate.getHours(),
              endMinutes: leadingZeroes(endDate.getMinutes()),
              height: (duration * scale) + "px",
              top: (startMins * scale) + "px",
              displayText: displayText
            }));
          }

        } 
      });

      

    }

    function getDays(machineIndex) {

      $("#schedule").empty();
      console.log(machineIndex)

      $.ajax({
        url: "/allschedules/machine-"+machineIndex,
        method: "get",
        success: function (data) {

          console.log(data);
          $("#machine-schedule-day").empty()
          for (var i = 0; i < data.length; i++) {

            console.log(i)
            console.log("appending...")
            console.log(data[i])
            $("#machine-schedule-day").append("<option val='" + data[i] + "'>" + data[i] + "</option>");
            getSchedule(machineIndex, $("#machine-schedule-day").val());

          }

          

        }
      });

    }

    $("#machine-schedule-day").on("change", function() {

      console.log("changing...")
      getSchedule($("#machine-schedule").val(),$(this).val());

    })

    $("#machine-schedule").on("change", function () {

        console.log("changing...")
        getDays($(this).val());

      })

  </script>

</body>
</html>