<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ../partials/global-header.ejs %>
</head>
<body>
    <%- include ../partials/navbar.ejs %>
    <div class="page-content">
        <h1>Make a new reservation</h1>
        <% if (err != null) { %>
            <div class="warn">
                <h1>Error</h1>
                <p> <%= err %></p>
            </div>
        <% } %>
        <form method="post" action="/reserve">
            <p>I want to make a reservation for the </p>
          <select name="machine">
            <% for (var i = 0; i < req.machines.length; i++ ) { %>
            <option value="<%= req.machines[i].index %>"><%= req.machines[i].name %></option>
            <% } %>
          </select>
          <p> on </p>
          <input required id="date" name="schedule[global][date]" type="date">
          <p> from </p>
          <input required id="start-time" name="schedule[time][start]" type="time">
          <p> to </p>
          <input required id="end-time" name="schedule[time][end]" type="time">
          <button style="display: block !important" class="submit-reservation btn btn-lg btn-outline-primary">Reserve</button>
        </form>
        <div style="display: none" class="warn">
          <h2>Attention</h2>
          <p>Before you make this resrevation, please make sure the end time is <b>after</b> the start time.</p>
        </div>
    </div>
    <style>
        .page-content form * {
            display: inline;
            font-size: 15px;
        }
        .submit-reservation {
            margin-top: 30px;
        }
        h1 {
            margin-bottom: 30px;
        }
        .warn {
            background: #bf0a0a;
            padding: 10px;
            border-radius: 5px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .warn * {
            color: white;
            text-align: center;
        }

        .warn p {
            margin-bottom: 0;
        }
    </style>
    <script>
      var start;
      var end;

      function checkTimeFields() {

        start = Math.floor(new Date($("#date").val() + " " + $("#start-time").val()).getTime() / 1000);
        end = Math.floor(new Date($("#date").val() + " " + $("#end-time").val()).getTime() / 1000);
        console.log(start);
        console.log(end);
        if (start >= end) {

          $(".warn").fadeIn();
          $(".submit-reservation").attr("disabled", true)

        } else {

          $(".warn").fadeOut();
          $(".submit-reservation").attr("disabled", false)

        }

      }

      $("#start-time").on('keyup', function () {
        checkTimeFields()
      });
      $("#end-time").on('keyup', function () {
        checkTimeFields()
      });
    </script>
</body>
</html>