<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ../partials/global-header.ejs %>
</head>
<body>
    <%- include ../partials/navbar.ejs %>
    <div class="page-content">
        <h1>View your Account</h1>
        <h2>General Account Information</h2>
        <p><b>Username: </b> <%= req.decoded.username %></p>
        <h2>Password Reset</h2>
        <form action="/changepassword" method="post">
          <input name="password" type="password" placeholder="New Password">
          <button class="btn btn-danger">Change Password</button>
        </form>
        <% if (status != null) { %>

            <div class="dialogue-box <%= status.type %>">
              <h2><%= status.header %></h2>
              <p><%= status.msg %></p>
            </div>

        <% } %>
    </div>
</body>
</html>