<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include ../partials/global-header.ejs %>
  <link rel="stylesheet" href="../css/all_reservations.css">
  <title>Document</title>
</head>

<body>
  <!-- Modals -->
  <!-- General Purpose Dialogues -->
  <% include ../partials/success-modal.ejs %>
  <!-- Edit Filters Modal -->
  <div class="modal fade" id="edit-filters-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Filters</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="filters">
            <label>Machine: </label><select class="machine-select" id="filter-machine" name="machine">
              <option value="any">Any</option>
              <% for (var i = 0; i < req.machines.length; i++ ) { %>
              <option value="<%= req.machines[i].id %>"><%= req.machines[i].name %></option>
              <% } %>
            </select>
            <lable data-restricted="true">Username: </lable>
            <select data-restricted="true" id="filter-username" name="username">
              <option value="any">Any</option>
              <% for (var i = 0; i < req.users.length; i++ ) { %>
              <option value="<%= req.users[i].username %>"><%= req.users[i].username %>
              </option>
              <% } %>
            </select>
            <label>Status: </label>
            <select id="filter-status">
              <option value="any">Any</option>
              <option value="pending">Pending</option>
              <option value="approved">Approved</option>
            </select>
            <label>Date</label><select id="filter-date-type">
              <option value="any">Any</option>
              <option value="specific">Specific</option>
            </select><input type="date" id="filter-date">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="apply-filters" data-dismiss="modal">Apply</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Reservation Modal -->
  <div class="modal fade" id="edit-reservation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Reservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="ajax-form" action="/reservations/new" method="post">
            <!-- <input type="hidden" name="origin" id="origin"> -->
            <input type="hidden" name="mode" id="mode" value="standard">
            <input type="hidden" name="id" id="resId">
            <select data-restricted="true" id="username" name="username">
              <% for (var i = 0; i < req.users.length; i++ ) { %>
              <option value="<%= req.users[i].username %>"><%= req.users[i].username %>
              </option>
              <% } %>
            </select>
            <select id="machine" name="machine">
              <% for (var i = 0; i < req.machines.length; i++ ) { %>
              <option value="<%= req.machines[i].id %>" data-name="<%= req.machines[i].name %>">
                <%= req.machines[i].name %>
              </option>
              <% } %>
            </select>
            <input type="date" id="date" name="schedule[global][date]">
            <input type="time" id="start" name="schedule[time][start]">
            <input type="time" id="end" name="schedule[time][end]">
            <textarea id="justification" name="justification"></textarea>
            <p><span style="font-weight: bold;">Status: </span><span id="status-display"></span></p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger modal-button modal-button-ajax-action" data-action="cancel" id="delete-res"
            data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-warning modal-button modal-button-ajax-action" data-action="modify"
            id="save-res"
            data-dismiss="modal">Modify</button>
          <% if (req.decoded.permission == -1) { %>
            <button type="button" class="btn btn-success modal-button modal-button-ajax-action" data-action="approve"
              id="delete-res"
              data-dismiss="modal">Approve</button>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <!-- Approval Warning Modal -->
  <div class="modal fade" id="approval-warning-modal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Conflict Warning</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="ajax-form" action="/reservations/new" method="post">
            <!-- <input type="hidden" name="mode" id="mode" value="force"> -->
            <input type="hidden" name="reservationSet" id="reservationSet">
            <span>The reservation you are approving conflicts with that of other students. Please review your action before continuing. <a href="#">What is this?</a></span>
            <h1>The reservations below will be rejected</h1>
            <div id="conflicting-reservations" style="overflow: scroll">

            </div>
            <p>Clicking approve will cause conflicting reservations to be rejected. <a href="#">Learn more</a></p>
            <label>Justification Message:</label>
            <textarea id="actionReason" name="actionReason"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success modal-button"
            data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-warning modal-button"
            id="force-approve"
            data-dismiss="modal">Approve</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(() => {
      $(".modal-button-ajax-action").click(function() {
        ajaxForm.submitToAndAct({
        url: "/reservations/" + $(this).data('action'),
        method: "post",
        },$("#edit-reservation-modal form"), (data) => {
          if (data.code == 1000) {
            // there is a conflict. We need to set up a system to deal with this.
            $("#reservationSet").val(data.data.reservationSet);
            $("#approval-warning-modal").modal("toggle")
            $(".ajax-form").trigger('success')
            ajaxTable.summon($("#conflicting-reservations"),{
              url: "/reservations/reservationSet/" + data.data.reservationSet,
              method: "get",
              id: "conflicting-table",
              ignore: ["_id","status","__v","createdAt","updatedAt"],
              firstCap: true,
              action: false,
              replaceKeys: {
                status: "current status"
              }
            },()=> {
              ajaxTable.connect($("#conflicting-reservations").children().first(),{
                validator: (e) => {
                  e.start = humanReadableTime(new Date(e.start * 1000))
                  e.end = humanReadableTime(new Date(e.end * 1000))
                  e.machine = $("option[value='" + e.machine + "']").html()
                },
                preSend: () => {},
                actionName: "Manage",
                actionClasses: ["btn","btn-sm","btn-warning"]
              })
            })
          } else {
            ajaxDialogue.show(data)
            $(".ajax-form").trigger('success')
          }
        })
      });
      $("#force-approve").click(() => {
        ajaxForm.submitTo({
          url: "/reservations/reservationSet/action",
          method: "post"
        }, $("#approval-warning-modal form"))
      })
    })
     $("#apply-filters").on("click",ajaxTable.refreshAll)
  </script>
  <%- include ../partials/navbar.ejs %>
  <div class="page-content">
    <h1 id="page-head"></h1>
    <button type="button" style="margin-bottom: 10px;" class="btn btn-primary" data-toggle="modal"
      data-target="#edit-filters-modal">Set Filters</button>
      <input type="checkbox" id="autoRefresh" name="autoRefresh" value="autoRefresh" checked><label
        for='autoRefresh'>Automatically Refresh
        Page</label>
    <div id="table-wrapper-1"></div>
  </div>
  <script>

    var scheduleTarget
    var ignoreFields = ["_id","__v","updatedAt","createdAt"];
    if (location.href.split("?")[1] == "all") {
      $(".ajax-table").attr("data-url","/schedule/a");
      scheduleTarget = "/schedule/a";
      $("#page-head").html("All Reservations")
      $("#origin").val("all")
    } else {
      // restrict the page for people viewing the not all page
      $(".ajax-table").attr("data-url","/schedule/p")
      $("[data-restricted='true'").css('display',"none")
      scheduleTarget = "/schedule/p"
      ignoreFields.push("username")
      $("#page-head").html("My Reservations")
      $("#origin").val("my")
    }

    function humanReadableTime(date) {
      return date.getHours() + ":" + leadingZeroes(date.getMinutes())
    }

    ajaxTable.summon($("#table-wrapper-1"),{
      url: scheduleTarget,
      method: "post",
      id: "schedule-table",
      ignore: ignoreFields,
      firstCap: true
    },()=> {
      ajaxTable.connect($("#table-wrapper-1").children().first(),{
        action: (e) => {
          dataKeys = Object.keys(e.data);
          console.log(e.data)
          var menElmnt;
          const formStruct = {
            text: ["username"],
            textarea: ["justification"],
            time: ["start","end"],
            select: ["status"],
            date: ["date"],
            machine: ["machine"],
            hidden: ["_id"]
          }
          dataKeys.forEach(elmnt=> {
            console.log()
            console.log(elmnt)
            menElmnt = $("#edit-reservation-modal #" + elmnt)
            if (formStruct.text.includes(elmnt)) {
              menElmnt.val(e.data[elmnt])
            } else if (formStruct.textarea.includes(elmnt)) {
              menElmnt.html(e.data[elmnt])
            } else if (formStruct.time.includes(elmnt)) {
              console.log("Logging time!")
              console.log("man elemnt",menElmnt)
              console.log("data",e.data[elmnt])
              menElmnt.val(e.data[elmnt])
            } else if (formStruct.select.includes(elmnt)) {
              $("#status").val(e.data[elmnt])
            } else if (formStruct.date.includes(elmnt)) {
              menElmnt.val(deformatDate(e.data[elmnt]))
            } else if (formStruct.machine.includes(elmnt)) {
              $("#machine option").removeAttr("selected");
              $("#machine option[data-name='" + e.data[elmnt] + "']").attr("selected","selected")
            } else if (formStruct.hidden.includes(elmnt)) {
              $("#resId").val(e.data[elmnt])
            }
            $("#status-display").html(e.data.status)
            $("#edit-reservation-modal").modal("toggle")
          })
        },
        validator: (e) => {
          console.log(e)
          e.start = humanReadableTime(new Date(e.start * 1000))
          e.end = humanReadableTime(new Date(e.end * 1000))
          e.machine = $("option[value='" + e.machine + "']").html()
        },
        preSend: () => {
          var query = {}
          console.log($("#filter-machine").val())
          if ($("#filter-machine").val() != "any") {
            query.machine = $("#filter-machine").val()
          }
          console.log($("#filter-status").val())
          if ($("#filter-status").val() != "any") {
            query.status = $("#filter-status").val()
          }
          console.log($("#filter-date").val())
          console.log($("#filter-date-type").val())
          if ($("#filter-date-type").val() != "any") {
            query.date = formatDate($("#filter-date").val())
          }
          if ($("#filter-username").val() != "any") {
            query.username = $("#filter-username").val()
          }
        console.log(query)
          return query || {}
        },
        actionName: "Manage",
        actionClasses: ["btn","btn-sm","btn-warning"]
      })
    })

    var autoRefresh = setInterval(ajaxTable.refreshAll,1000);
    $(".ajax-form").on("success",ajaxTable.refreshAll);
    $("#autoRefresh:checkbox").on('change',() => {
      console.log("CHECKBOX!")
      if ($("#autoRefresh").prop("checked")) {
        console.log("is now checked");
        autoRefresh = setInterval(ajaxTable.refreshAll,1000);
      } else {
        clearInterval(autoRefresh)
      }
    })
      

  </script>
  <style>
    #edit-reservation-modal .modal-body * {
      display: block;
      margin: 10px 0;
    }
  </style>
</body>

</html>