<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include ../partials/global-header.ejs %>
  <link rel="stylesheet" href="../css/all_reservations.css">
  <title>Document</title>
</head>

<body>
  <%- include ../partials/navbar.ejs %>
  <div class="page-content">
    <h1>Connected Readers</h1>
    <table class="machines-table ajax-table" data-url="/readers/tmp" data-method="get">
      <thead>
        <tr>
          <td data-tag="ip">IP</td>
          <td data-tag="text">Text</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button id="refresh" class="btn btn-sm btn-success">Refresh</button>
    <div class="action-menu"">
      <form class="ajax-form" action="/readers/accept" method="post">
        <h1>Add New Reader</h1>
        <p>Please select the machine for this reader.</p>
        <p id="reader-ip"></p>
        <input type="hidden" name="ip" id="reader-ip-field" value>
        <p id="reader-text"></p>
        <select id="machine" name="machine">
          <% for (var i = 0; i < req.machines.length; i++ ) { %>
          <option value="<%= req.machines[i].id %>" data-name="<%= req.machines[i].name %>"><%= req.machines[i].name %>
          </option>
          <% } %>
        </select>
        <div>
          <button class="btn btn-sm btn-success">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
  <script>

    function humanReadableTime(date) {
      return date.getHours() + ":" + leadingZeroes(date.getMinutes())
    }

      tableConfig = {
        action: (e) => {
          console.log(e.data);
          $(".action-menu").css("display","block")
          $(".action-menu #reader-ip").html(e.data.ip)
          $(".action-menu #reader-text").html(e.data.text)
          $(".action-menu #reader-ip-field").val(e.data.ip)
        },
        actionName: "Accept",
        actionClasses: ["btn","btn-sm","btn-success"]
      }

      setupAjaxTable(tableConfig)
      $("#refresh").on("click",() => {return setupAjaxTable(tableConfig)})

      $(".ajax-form").on("success",() => {
        setupAjaxTable(tableConfig)
      })

  </script>
  <style>
    h4 {

      font-weight: 400;

    }

    .schedule-block {

      background: black;
      width: 50%;
      /* height: 100px; */
      padding: 10px;

    }

    .schedule-block h2 {
      color: white;
    }

    .schedule-block p {
      color: white;
    }

    .machines-table {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }

    .machines-table td {

      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;

    }
  </style>
</body>

</html>